<!--
  Generated template for the CreditListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Credit List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding  class="bg-content">
<ion-list *ngIf="typee">
  <ion-list *ngFor="let item of typee; index as i">
    <ion-card style="border-radius: 3px;">
	<ion-grid>
	<ion-card-content style="color: #333333;">
	<ion-row class="bottomRow">	
				<ion-col col-4><strong>No </strong></ion-col><ion-col col-1 text-center> : </ion-col> <ion-col col-7>{{item.invoice_no}}</ion-col>
		</ion-row>
		<ion-row class="bottomRow">	
				<ion-col col-4><strong>Date </strong></ion-col><ion-col col-1 text-center> : </ion-col> <ion-col col-7>{{item.invoice_date|date}}</ion-col>
		</ion-row>		
		<ion-row class="bottomRow">
				<ion-col col-4><strong>Item Code </strong></ion-col><ion-col col-1 text-center> : </ion-col> <ion-col col-7>{{item.item_code}}</ion-col>
		</ion-row>
		<ion-row class="bottomRow">
				<ion-col col-4><strong>Item Name </strong></ion-col><ion-col col-1 text-center> : </ion-col> <ion-col col-7 text-wrap>{{item.item_name}}</ion-col>
		</ion-row>		
		<ion-row class="bottomRow">
				<ion-col col-4><strong>Quantity </strong></ion-col><ion-col col-1 text-center> : </ion-col> <ion-col col-7>{{item.item_claim_qty}}</ion-col>
		</ion-row>
		<ion-row class="bottomRow">
				<ion-col col-4><strong>Unit Price </strong></ion-col><ion-col col-1 text-center> : </ion-col> <ion-col col-7>{{item.unit_price}}</ion-col>
		</ion-row>
		<ion-row class="bottomRow">
				<ion-col col-4><strong>Tax Value </strong></ion-col><ion-col col-1 text-center> : </ion-col> <ion-col col-7 text-wrap>{{item.tax_value}}</ion-col>
		</ion-row>		
		<ion-row class="bottomRow">
				<ion-col col-4><strong>Amount </strong></ion-col><ion-col col-1 text-center> : </ion-col> <ion-col col-7>{{item.total_amount}}</ion-col>
		</ion-row>		
		</ion-card-content>		
	</ion-grid>
</ion-card>
</ion-list>
</ion-list> 
 	 
  <ion-list *ngIf="!typee">
    <ion-card style="border-radius: 3px;">
	<ion-grid>
	<ion-card-content style="color: #333333;">
		<ion-row>	
				<ion-col col-12 text-center><strong>No Records Found</strong></ion-col>
		</ion-row>		
		</ion-card-content>		
	</ion-grid>
</ion-card> 
</ion-list>
   
</ion-content>
