page-barcode {
.card {
	margin-left:-2px;
	height: 100%;
	width: 100%;
	border-radius:5px;
}
.title
{
	font-family: Poppins-Medium !important;
}
.bg-content
{
	background-color: #E8E8E8;
	font-family: Poppins-Regular !important;
}
.iccon-class {
 display: inline-block;
 font-size: 20px;
 vertical-align: middle;
}

.text{
  display: inline-block;
  vertical-align: middle;
  font-family: PT_Serif-Web-Regular !important;
}
 
}
