page-test {
.card {
	margin-left:-2px;
	height: 100%;
	width: 100%;
	margin-top:-10px;
}
.ion-content
{
width: 100%;
}
.title
{
	font-family: Poppins-Medium !important;
}
.bg-content
{
	background-color: #E8E8E8;
	font-family: Poppins-Regular !important;
	width: 100%;
}
.bottomRow
{
  margin-top: -16px;
  padding-top:12px;
}
.grid{
  margin: -5px;
  width: 100%;
}
}
